<div id="<%= dom_id subdivision %>">
  <p>
    <strong>Name:</strong>
    <%= subdivision.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= subdivision.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= subdivision.postal_code %>
  </p>

</div>
