<h1>Editing subdivision</h1>

<%= render "form", subdivision: @subdivision %>

<br>

<div>
  <%= link_to "Show this subdivision", @subdivision %> |
  <%= link_to "Back to subdivisions", subdivisions_path %>
</div>
