<p style="color: green"><%= notice %></p>
<div class=" text-center container-fluid">
  <h1><%=@subdivision.name%></h1>
  <div class="row">
    
    
   <%= render "subdivisions/tabs/index"%>
  </div>
</div>