<h1>Editing water billing transaction</h1>

<%= render "form", water_billing_transaction: @water_billing_transaction %>

<br>

<div>
  <%= link_to "Show this water billing transaction", @water_billing_transaction %> |
  <%= link_to "Back to water billing transactions", water_billing_transactions_path %>
</div>
