<div class="card text-center">
    <%= turbo_frame_tag 'water_bill_transaction' do %>

      <%= render "water_billing_transactions/form/search_form" %> 

      <%= render "water_billing_transactions/table/water_billing_transaction" , transaction: @water_billing_transaction %> 
      <% end %>
</div>