<h1>New water billing transaction</h1>

<%= render "form", water_billing_transaction: @water_billing_transaction %>

<br>

<div>
  <%= link_to "Back to water billing transactions", water_billing_transactions_path %>
</div>
