<div id="<%= dom_id monthly_due %>">
  <p>
    <strong>Amount:</strong>
    <%= monthly_due.amount %>
  </p>

  <p>
    <strong>Subdivision:</strong>
    <%= monthly_due.subdivision_id %>
  </p>

</div>
