<h1>Editing monthly due</h1>

<%= render "form", monthly_due: @monthly_due %>

<br>

<div>
  <%= link_to "Show this monthly due", @monthly_due %> |
  <%= link_to "Back to monthly dues", monthly_dues_path %>
</div>
