<div class="card text-center">
    <%= turbo_frame_tag 'users' do %>

        <%= render "users/form/search_form" %> 
        <%= render "users/modal/add_residence", users: @users %>
        <%= render "users/table/user", users: @users %>

      <% end %>
</div>