<div class="card text-center">
    <%= turbo_frame_tag 'residence_billing' do %>

      <%= render "water_billing_transaction/forms/search" %> 

      <%= render "water_billing_transaction/table/transaction" , transaction: @water_billing_transaction %> 
      <% end %>
</div>