<div class="col-6" style="flex: 2 0 auto">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Residence</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Residence Water Bill and Monthly Dues</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Mother Meter Water Bill</button>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" data-controller="SubdivisionResidence" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <%= turbo_frame_tag "users", src: users_path({subdivision_id:params["id"]}), target: "_top" %> 
        </div>
        <div class="tab-pane fade" data-controller="WaterBillingTransactions" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <%= turbo_frame_tag "water_bill_transaction", src: water_billing_transactions_path({subdivision_id:params["id"]}), target: "_top" %> 
        </div>
        <div class="tab-pane fade" data-controller="WaterBilling" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <%= turbo_frame_tag "water_bill", src: water_billings_path({subdivision_id:params["id"]}), target: "_top" %> 
        </div>
    </div>
</div>