<div class="card text-center">
  <div class="card-header">
    <h5>Water Bill</h5>
  </div>
  <table class="table table-dark table-hover">
    <thead class="thead-inverse|thead-default">
      <tr>
        <th>Month</th>
        <th>Current Reading</th>
        <th>Previous Reading</th>
        <th>Price Per Cubic</th>
        <th>Bill Amount</th>
        <th>Status</th>
        <th>Due Date</th>
      </tr>
    </thead>
  </table>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>