<h1>Editing monthly due transaction</h1>

<%= render "form", monthly_due_transaction: @monthly_due_transaction %>

<br>

<div>
  <%= link_to "Show this monthly due transaction", @monthly_due_transaction %> |
  <%= link_to "Back to monthly due transactions", monthly_due_transactions_path %>
</div>
