<div id="<%= dom_id water_billing %>">
  <p>
    <strong>Per cubic price:</strong>
    <%= water_billing.per_cubic_price %>
  </p>

  <p>
    <strong>Is current price:</strong>
    <%= water_billing.is_current_price %>
  </p>

  <p>
    <strong>Subdivision:</strong>
    <%= water_billing.subdivision_id %>
  </p>

</div>
