<h1>Editing water billing</h1>

<%= render "form", water_billing: @water_billing %>

<br>

<div>
  <%= link_to "Show this water billing", @water_billing %> |
  <%= link_to "Back to water billings", water_billing_path %>
</div>
